@import 'variables.scss';

#categories {
  float:right;
}

#search {
  text-align: center;
}

html,
body {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
  background: $background top left repeat;
}

* {
  font-family    : 'Lato', Helvetica, Arial, sans-serif;
  color          : black;
  font-size      : 14px;
  text-decoration: none;
  text-align     : left;
  font-style     : normal;
  font-weight    : 300;
  line-height    : 125%;
  margin         : 0;
  padding        : 0;
  outline        : 0;
  border         : 0;
  background     : none;
  border         : none;
  box-sizing     : border-box;
  -webkit-box-sizing     : border-box;  
}

input,
textarea,
select {
  border: 1px dotted $grey;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 3px;
}

select{
  -webkit-appearance: none;
}


ul{
  list-style: none;
  list-style-position: inside;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background: rgba(236, 236, 236, 0.7);
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.ui-datepicker {
  background: url(asset_path('orange-back.jpg', image));
  width: 200px;
  min-width: 200px;
  padding: .1em .1em 0;
  @include border_rad_all(0px);
  border: 1px solid $orange-dark;
  .ui-datepicker-header {
    @include border_rad_all(0px);
    border: 1px solid $orange-dark;
    padding: .1em 0;
    height: 30px;
    line-height:30px;
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
      @include border_rad_all(0px);
    }
  }
  .ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
    span {
      color: $grey;
    }
  }
  .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    @include border_rad_all(0px);
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    @include border_rad_all(0px);
  }
}

.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }