<div id="how-much-search">
  <p>How much?</p>
  <div class="form-hidden">
    <%= number_field_tag :min_price, nil, :placeholder => "Min Price" %>
    <%= number_field_tag :max_price, nil, :placeholder => "Min Price" %>
  </div>
</div>
