<div id="when-search">
  <p>When?</p>
  <div class="form-hidden">
    <%= text_field_tag :starts_at, nil, :placeholder => "Start Date" %>
    <%= text_field_tag :ends_at, nil, :placeholder => "End Date"  %>
  </div>
</div>
