<div id="where-search">
  <p>Where?</p>
  <div class="form-hidden">
    <%= text_field_tag :streets, nil, :placeholder => "Street" %>
    <%= text_field_tag :cities, nil, :placeholder => "City" %>
    <%= text_field_tag :regions, nil, :placeholder => "State" %>
    <%= number_field_tag :zips, nil, :placeholder => "Zip code" %>
  </div>
</div>
